
<!-- Import the base template -->
{% extends "base.html" %}

{% block title %}Category Items{% endblock title %}
{% block content %}

<!-- bring in the nav template -->
{% include "nav.html" %}

<!-- bring in the flash message  template -->
{% include "flash.html" %}

<!-- Page Content -->
<section id="show_item" class="section">
    <div class="container">
        <div class="row">
            <!-- display the categories -->
            {% include "categories.html" %}

            <div class="col-md-9">
                <h6 class="padding-bottom-26">Items (<strong>{{count}}</strong>)</h6>
                <!-- Loop through all the items, displaying the picture + item name -->
                {% for i in items %}
                <div class="thumbnail text-center">
                    <div class="caption-full">
                        <img class="img-responsive img-center"
                             src="{{ i.picture }}"
                             alt="{{ i.name }}">
                    </div>
                    <a href="{{url_for('show_item', category_name=i.category.name, item_name=i.name)}}">
                        <h5>{{ i.name }}</h5>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
