
<!-- all_items template -->

<!-- Import the base template -->
{% extends "base.html" %}

{% block title %}Category Items{% endblock title %}
{% block content %}

<!-- bring in the nav template -->
{% include "nav.html" %}

<!-- bring in the flash message  template -->
{% include "flash.html" %}

<!-- Page Content -->
<section id="show_item" class="section my-4">
    <div class="container">
        <div class="row">
            <!-- display the categories -->
            {% include "categories.html" %}

            <div class="card col-md-4">
                <h6 class="my-4">Items (<strong>{{count}}</strong>)</h6>
                <!-- Loop through all the items, displaying the picture + item name -->
                {% for i in items %}
                    <img class="card-img-top img-fluid"
                         src="{{ i.picture }}"
                         alt="{{ i.name }}">

                   <div class="card-body">
                      <a href="{{url_for('show_item', category_name=i.category.name, item_name=i.name)}}">
                          <h5>{{ i.name }}</h5>
                      </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% endblock %}
