
<!-- Import the base template -->
{% extends "base.html" %}

{% block title %}Login{% endblock title %}

<!-- Start of content -->
{% block content %}

<!-- Import the nav bar -->
{% include "nav.html" %}

<!-- If the user isn't logged in then display the login button -->
{% if 'username' not in session %}
<section id="login" class="section">
    <div class="container">
        <div class="row">
          <div class="col-sm-2">
            <h1>Login</h1>
          </div>
        </div>
        <div class="row padding-top-10">
            <div class="container">
                <div id="signInButton">
                  <span class="g-signin"
                    data-scope="openid email"
                    data-clientid="98088597641-c1efsmh1cvu2h0mq6rir6h7av6ignuu6.apps.googleusercontent.com"
                    data-redirecturi="postmessage"
                    data-accesstype="offline"
                    data-cookiepolicy="single_host_origin"
                    data-callback="signInCallback"
                    data-approvalprompt="force">
                  </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="login-success" class="section">
    <div class="container">
        <div class="row">
            <div class="text-center">
              <div id="result"></div>
            </div>
        </div>
    </div>
</section>
{% else %}
<!-- Otherwise, don't display the login button -->
{% endif %}

<!-- End of content -->
{% endblock %}
